name: Publish to NuGet.org

on: workflow_dispatch
    
   

permissions:
  contents: read

jobs:
  publish:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
      
    - name: Setup .NET
      uses: actions/setup-dotnet@v5
      with:
        dotnet-version: |
          10.0.x
          9.0.x

        
    - name: Restore dependencies
      run: dotnet restore
      
    - name: Build
      run: dotnet build --configuration Release --no-restore
      
    - name: Test
      run: dotnet test --configuration Release --no-build --verbosity normal
      
    - name: Pack DyoMediator.Abstraction
      run: dotnet pack DyoMediator.Abstraction/DyoMediator.Abstraction.csproj --configuration Release --no-build --output ./artifacts
      
    - name: Pack DyoMediator.Mediator
      run: dotnet pack DyoMediator.Mediator/DyoMediator.Mediator.csproj --configuration Release --no-build --output ./artifacts
      
    - name: Pack DyoMediator.Decorators
      run: dotnet pack DyoMediator.Decorators/DyoMediator.Decorators.csproj --configuration Release --no-build --output ./artifacts
      
    - name: Publish to GitHub Packages
      shell: pwsh      
      run: |
        foreach($file in (Get-ChildItem ./artifacts/ -Recurse -Include *.nupkg)) {
              dotnet nuget push $file --api-key ${{ secrets.NUGET_KEY }} --source https://api.nuget.org/v3/index.json --skip-duplicate
          }
